.preem__button {
  --button-background-color: var(--button-color);
  --button-hover-mix: 0%;
  --button-disable-mix: 0%;
  --button-interact-spread: 0;

  /* Behaviors */
  transition: all 0.2s;

  /* Layout */
  display: inline-grid;
  grid-auto-flow: column;
  gap: var(--gap);
  align-items: baseline;
  padding: var(--padding-1) var(--padding-3);
  line-height: var(--line-height);

  /* Borders */
  border-radius: var(--button-border-radius);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);

  /* Colors */
  box-shadow: 0 1px 1px var(--button-interact-spread) var(--button-background-color);
  color: color-mix(
    in oklab,
    var(--color-text) 75%,
    var(--color-disable-mix) var(--button-disable-mix)
  );

  background: color-mix(
    in oklab,
    color-mix(
        in oklab,
        var(--button-background-color) 75%,
        var(--button-hover-color-mix) var(--button-hover-mix)
      )
      50%,
    var(--color-disable-mix) var(--button-disable-mix)
  );

  border-color: color-mix(
    in oklab,
    color-mix(
        in oklab,
        var(--button-background-color) 75%,
        var(--button-border-color-mix) var(--button-hover-mix)
      )
      50%,
    var(--color-disable-mix) var(--button-disable-mix)
  );

  /* States */
  &[data-variant="primary"] {
    --button-background-color: var(--color-primary);
  }
  &[data-variant="secondary"] {
    --button-background-color: var(--color-secondary);
  }
  &[data-variant="danger"] {
    --button-background-color: var(--color-danger);
  }

  &:hover {
    --button-hover-mix: 30%;
    --button-interact-spread: 1px;
  }

  /* Press, tap, etc */
  &:active {
    --button-hover-mix: 30%;
    --button-hover-color-mix: #000;
    --button-interact-spread: -1px;
    .preem__button__text {
      transform: scale(0.98);
    }
  }

  &[aria-disabled] {
    --button-disable-mix: 50%;
    --button-interact-spread: -1px;
  }

  .preem__button__disabled-reason {
    display: none;
    padding: var(--padding);
    width: max-content;
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    background: #222;
    color: var(--color-text);
    font-weight: bold;
    border-radius: 4px;
    font-size: 90%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.4));
    z-index: 10;

    .arrow {
      position: absolute;
      background: #222;
      width: 8px;
      height: 8px;
      transform: rotate(45deg);
    }

    /* When hovering / focusing, don't close the tooltip */
    &:hover,
    &:focus-visible {
      display: block;
    }
  }

  /* Control the tooltip from the button */
  &:hover,
  &:focus-visible {
    .preem__button__disabled-reason {
      display: block;
    }
  }
}
