.preem_progress {
  height: 200px;
  width: 200px;
  position: absolute;
  text-align: center;

  + svg circle {
    transition: stroke-dashoffset 0.5s linear;
    stroke: #555;
    stroke-width: 1rem;
  }
}
.preem_progress:after {
  content: attr(data-percent) "%";
  line-height: 200px;
  font-size: 1.5rem;
}
