/* See ./button.css for inherited styles */

.nvp__tabs {
  --highlight-color: var(--color-primary);

  > [role="tablist"] {
    min-width: 100%;
    padding-left: 0.75rem;
  }

  [aria-selected="true"] {
    --button-hover-mix: 100%;
    --button-hover-color-mix: #fff;
  }

  &[data-orientation="top"] {
    .nvp__tabs__tab {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    [aria-selected="true"] {
      box-shadow: inset 0 -4px 0px var(--highlight-color);
    }
  }
  &[data-orientation="bottom"] {
    .nvp__tabs__tab {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    [aria-selected="true"] {
      box-shadow: inset 0 4px 0px var(--highlight-color);
    }
  }
  &[data-orientation="left"] {
    .nvp__tabs__tab {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    [aria-selected="true"] {
      box-shadow: inset -4px 0px 0px var(--highlight-color);
    }
  }
  &[data-orientation="right"] {
    .nvp__tabs__tab {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    [aria-selected="true"] {
      box-shadow: inset 4px 0px 0px var(--highlight-color);
    }
  }
}
