/* See ./button.css for inherited styles */

.nvp__tabs {
  --highlight-color: var(--color-primary);
  --tab-selected-shadow: 0 0 0 transparent;
  --tab-selected-height: 10px;
  --tab-selected-height-correction: -6px;
  --tab-focused-shadow: 0 0 0 transparent;

  > [role="tablist"] {
    min-width: 100%;
    padding-left: 0.75rem;
  }

  [aria-selected="true"] {
    --button-hover-mix: 100%;
    --button-hover-color-mix: #fff;
  }


  .nvp__tabs__tab {
    box-shadow: var(--tab-focused-shadow), var(--tab-selected-shadow) !important;

    &:focus-visible {
      --tab-focused-shadow: var(--ring-shadow);
    }
  }

  &[data-orientation="top"] {
    .nvp__tabs__tab {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    [aria-selected="true"] {
      --tab-selected-shadow: inset
        0 calc(-1 * var(--tab-selected-height))
        0 var(--tab-selected-height-correction)
        var(--highlight-color);
    }
  }
  &[data-orientation="bottom"] {
    .nvp__tabs__tab {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    [aria-selected="true"] {
      --tab-selected-shadow: inset
        0 var(--tab-selected-height)
        0px var(--tab-selected-height-correction)
        var(--highlight-color);
    }
  }
  &[data-orientation="left"] {
    .nvp__tabs__tab {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    [aria-selected="true"] {
      --tab-selected-shadow: inset
        calc(-1 * var(--tab-selected-height)) 0px
        0px var(--tab-selected-height-correction)
        var(--highlight-color);
    }
  }
  &[data-orientation="right"] {
    .nvp__tabs__tab {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    [aria-selected="true"] {
      --tab-selected-shadow: inset
        var(--tab-selected-height) 0px
        0px var(--tab-selected-height-correction)
        var(--highlight-color);
    }
  }
}
