:root {
  color-scheme: light dark;

  /* General */
  --radius: 0.25rem;
  --font: ui-sans-serif, sans-serif;
  --fade-duration: 0.125s;

  /* z-indexes */
  --z-hover: 10;
  --z-focused: 11;

  /* Spacing */
  --gap: 0.25rem;
  --gap-1: var(--gap);
  --gap-2: 0.5rem;
  --gap-3: 0.75rem;
  --gap-4: 1rem;
  --line-height: 1.5rem;

  --padding: 0.5rem;
  --padding-1: 0.25rem;
  --padding-2: var(--padding);
  --padding-3: 0.75rem;
  --padding-4: 1rem;

  /* Focus */
  --ring-opacity: 1;
  --ring-color: rgb(224 78 57 / var(--ring-opacity, 1));

  /* Borders */
  --border-width: 1px;
  --border-style: solid;

  /* Shadows */
  --shadow-xl: drop-shadow(0px 2px 0.75rem rgba(0, 0, 0, 0.3));
  --shadow-md: drop-shadow(0px 2px 0.25rem rgba(0, 0, 0, 0.2));

  /* Components */
  --button-border-color-mix: rgb(100, 100, 100);
  --button-hover-color-mix: rgb(255, 255, 255);
  --button-border-radius: var(--radius);
  --button-border-width: var(--border-width);
  --button-border-style: var(--border-style);
  --button-border-color: var(--border-color);

  --reason-shadow: var(--shadow-md);
}

/* Default / light mode */
:root,
.theme-light {
  /* Colors */
  --color-text: #121212;
  --color-primary: #88cdff;
  --color-secondary: #aaaaff;
  --color-danger: #ff66bb;
  --color-disable-mix: #bbb;

  /* Focus */
  --ring-color: rgb(100 100 224 / var(--ring-opacity, 1));

  /* Components */
  --button-color: rgb(220, 220, 220);
  --reason-background-color: rgb(240, 240, 240);
  --reason-border: 2px solid #eee;
  --header-background: #fff;
}

.theme-dark {
  /* Colors */
  --color-text: #ffffff;
  --color-primary: #00cdff;
  --color-secondary: #5555ff;
  --color-danger: #ee0055;
  --color-disable-mix: #000;

  /* Focus */
  --ring-color: rgb(224 78 57 / var(--ring-opacity, 1));

  /* Components */
  --button-color: rgb(100, 100, 100);
  --reason-background-color: rgb(50, 50, 50);
  --reason-border: 1px solid #222;
  --header-background: #111;
}

@media (prefers-reduced-motion) {
  --fade-duration: 0s;
}

html,
body {
  margin: 0;
  padding: 0;
  accent-color: var(--color-primary);
}

html,
body,
button {
  font-family: var(--font);
}

* {
  box-sizing: border-box;
}

main {
  padding: var(--padding);
}
